/* CSS reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	text-align:center;
	color: #666;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Woorus color palette 
	#99B8D7 (Light Blue Sky)
	#4980B7 (Medium Blue Sky - Two)
	#215086 (Deep Blue - Top of Water)
	#000418 (Dark Blue/Black - Deep Ocean)
	#78BCE3 (Medium Highlighted Blue - Shadows)
*/

/* Page styles */
ul {
	list-style-type: none;
}

span {
	font-size: 16px;
	font-weight: bold;
}

a:link, a:active, a:visited {
	color: #4980B7;
	text-decoration: none;
}

a:hover {
	color: #4980B7;
	text-decoration: underline;
}

.globalContainer {
	width: 1200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin:0px auto;
}
 
/* Header */
.header {
	background: url(../images/global/header.jpg) no-repeat;
	height: 160px;
	text-align: left;
	margin-bottom: 15px;
}

#top_menu {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 110px;
	position: relative;
}

#menu li {
	margin: 36px 0px 0px 0px;
	float:left;
}

#menu a {
	display:block;
	width: 70px;
	height: 75px;
}

a#nav_logo {
	width: 400px;
}

div#nav_space {
	width: 280px;
	height: 75px;
}

a#nav_home {
	background:url(../images/global/home.png) no-repeat;
	background-repeat: no-repeat;
}

a#nav_home:hover {
	background-position: 0px -75px;
}

a#nav_home_1 {
	background:url(../images/global/home.png) no-repeat;
	background-position: 0px -150px;
}

a#nav_mosaic {
	background:url(../images/global/mosaic.png) no-repeat;
}

a#nav_mosaic:hover {
	background-position: 0px -75px;
}

a#nav_mosaic_1 {
	background:url(../images/global/mosaic.png) no-repeat;
	background-position: 0px -150px;
}

a#nav_search {
	background:url(../images/global/search.png);
}

a#nav_search:hover {
	background-position: 0px -75px;
}

a#nav_search_1 {
	background:url(../images/global/search.png);
	background-position: 0px -150px;
}

a#nav_contacts {
	background:url(../images/global/contacts.png);
}

a#nav_contacts:hover {
	background-position: 0px -75px;
}

a#nav_contacts_1 {
	background:url(../images/global/contacts.png);
	background-position: 0px -150px;
}

a#nav_lounge {
	background:url(../images/global/lounge.png);
}

a#nav_lounge:hover {
	background-position: 0px -75px;
}

a#nav_lounge_1 {
	background:url(../images/global/lounge.png);
	background-position: 0px -150px;
}

a#nav_mail {
	background:url(../images/global/mail.png);
}

a#nav_mail:hover {
	background-position: 0px -75px;
}

a#nav_mail_1 {
	background:url(../images/global/mail.png);
	background-position: 0px -150px;
}

a#nav_trends {
	background:url(../images/global/trends.png);
}

a#nav_trends:hover {
	background-position: 0px -75px;
}

a#nav_trends_1 {
	background:url(../images/global/trends.png);
	background-position: 0px -150px;
}

#sub_menu {
	height: 40px;
	text-align: right;
	padding: 10px;
}

/* Footer */
.footer {
	background: url(../images/global/footer.png);
	height: 106px;
	font-size: 20px;
	color: #FFF;
	text-align: center;
}

.footer a:link, .footer a:active, .footer a:visited {
	color: #FFF;
	text-decoration: none;
}

.footer a:hover {
	color: #4980B7;
	text-decoration: none;
}

#nav_footer {
	padding: 45px;
}

.error_text {
	font-size: 12px;
	color: #C00;
	font-weight: bold;
}

.success_text {
	font-size: 12px;
	color: #0C0;
	font-weight: bold;
}

.buttons {
	font-size: 18px;
	color: #FFF;
	cursor: pointer; 
	cursor: hand; 
	background: #0A246A;
	border: 2px solid #4980B7;
	height: 30px;
	border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
}

.save {
	width: 100px;
	margin-right: 10px;
}

.cancel {
	width: 100px;
	background-color: #ccc;
	margin-top: 10px;
}

div.clear {
	clear: both;
}

/*	Pagination */

a.arrows {
	display: block;
	width: 70px;
	height: 60px;
}

.pagination_left {
	background: url(../images/global/page_arrows.png) no-repeat;
	cursor: pointer; 
	cursor: hand; 
}

.pagination_right {
	background: url(../images/global/page_arrows.png) no-repeat;
	background-position: 20px -60px;
	cursor: pointer; 
	cursor: hand; 
}

.pagination_div{
	width:40px;
	float: left;
	margin: -200px 0px 0px 370px;
	position: relative;
	z-index: 1000;
}

.pagination li {
	float:left;
}

.pagination li a {
	display:block;
	width:12px;
	height:12px;
	background: url(../images/global/pagination.png) no-repeat;
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -13px;
}

/* Image Crop */

.imgareaselect-border1 {
	background: url(../images/global/border-v.gif) repeat-y left top;
}

.imgareaselect-border2 {
    background: url(../images/global/border-h.gif) repeat-x left top;
}

.imgareaselect-border3 {
    background: url(../images/global/border-v.gif) repeat-y right top;
}

.imgareaselect-border4 {
    background: url(../images/global/border-h.gif) repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

/* Autocomplete CSS */
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
	text-align: left;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}

/* Online & Social Status */

.online_status {
	width: 28px;
	height: 28px;
	float: left;
	background: url(../images/global/online.png) no-repeat;
	background-position: 0px 0px;
}

.social_status {
	width: 30px;
	height: 28px;
	float: left;
	background:url(../images/global/social_status_sm.png) no-repeat;
	background-position: 0px 0px;
}

.warning_status {
	background-position: 0px -23px;
}

.float_right {
	float: right;
}

/* Action Buttons */

.talk_button_sm {
	display: block;
	width: 62px;
	height: 50px;
	background:url(../images/global/action_buttons_sm.png) no-repeat;
	background-position: 0px 0px;
	float: right;
}

.write_button_sm {
	display: block;
	width: 62px;
	height: 50px;
	background:url(../images/global/action_buttons_sm.png) no-repeat;
	background-position: -62px 0px;
	float: right;
}

.add_button_sm {
	display: block;
	width: 62px;
	height: 50px;
	background:url(../images/global/action_buttons_sm.png) no-repeat;
	background-position: -124px 0px;
	float: right;
}

.block_button_sm {
	display: block;
	width: 62px;
	height: 50px;
	background:url(../images/global/action_buttons_sm.png) no-repeat;
	background-position: -186px 0px;
	float: right;
}

.archive_button {
	display: block;
	width: 20px;
	height: 20px;
	margin-top: 30px;
	float: right;
	background:url(../images/global/archive.png) no-repeat;
}
