/* Index Page */
.bg_canvas {
	height: 254px;
	background-image: url(../images/global/home_bg_header.jpg);
	background-repeat: repeat-x;
}

#indexContainer {
	margin-top: -254px;
}

#header {
	width: 1200px;
	height: 450px;
	background: url(../images/global/home_bg_banner.jpg) no-repeat;
	text-align: left;
}

#logo {
	display: block;
	width: 300px;
	height: 60px;
	float: left;
	margin: 30px 0px 0px 100px;
}

#panel {
	width: 591px;
	height: 89px;
	text-align: center;
	background: url(../images/global/login_bg.png) no-repeat;
	float: right;
	font-size: 18px;
	padding-top: 20px;
}

.login_text{
	width: 140px;
	font-size: 18px;
	color: #666;
}

#login_button {
	border: 2px solid #FFF;
	width: 80px;
}

.switch_link {
	font-size: 12px;
	margin: 5px 120px 0px 0px;
	float: right;
}

#recover_button {
	width: 180px;
	border: 2px solid #FFF;
}

#auth_error{
	margin: 5px 0px 0px -35px;
}

#reg_error_container{
	margin: -35px 0px 0px 0px;
	width: 250px;	
}

#registration_error{
	text-align: left;
	line-height: 20px;
	padding-left: 10px;
	border-left: 3px solid #C00;
}

#reg_error_captcha{
	width: 440px;
	margin-top: 20px;
	font-size: 14px;
	text-align: center;
	color: #4980B7;
}

#reg_error_captcha span{
	font-weight: bold;
	font-size: 18px;
}

#indexContent {
	width: 1200px;
	height: 400px;
	margin-bottom: 20px;
}

#slide_show {
	width: 650px;
	height: 400px;
	border-right: 1px solid #CCC;
	float: left;
}

#slide_show a {
	float: left;
	margin-top: 120px;
	border: none;
}

.slides_container {
	width: 475px;	/* size of the slides */
	height: 350px;
	float: left;
}

.slides_container div {
	width: 475px;
	height: 350px;
	display: block;
}

#sign_up {
	width: 469px;
	height: 400px;
	margin-left: 60px;
	text-align: left;
	line-height: 30px;
	float: left;
}

#facebook_login {
	margin-left: 150px;
}

#registration_form li {
	font-size: 18px;
	color: #215086;	
	line-height: 35px;
}

#registration_form label {
	width: 150px;
	display: inline-block;
}

#registration_form select {
	width: 82px;
	font-size: 18px;
	color: #666;
}

.text_form {
	width: 250px;
	font-size: 18px;
	color: #666;
}

#validate_registration {
	width: 100px;
	margin-top: 10px;
	margin-left: 307px;
}

#join_button {
	width: 100px;
	margin-top: 20px;
	margin-left: 340px;
}

/* Home Page - Internal Profile */
#iprofile {
	width: 1120px;
	height:	540px;
	margin: 0px auto;
}

#profile {
	width: 400px;
	height: 540px;
	float: left;
	color: #4980B7;
	text-align: left;
}

#profile a:hover {
	text-decoration: none;
	color: #215086;
}

#profile_frame {
	width: 400px;
	height: 283px;
	display: block;
	background: url(../images/global/profile_frame.png) no-repeat;
	position: relative;
	z-index: 100;
	cursor: pointer; 
	cursor: hand; 
}

#profile_pic {
    margin: -259px 25px 30px;
    width: 350px;
}

#profile_pic img {
	width: 350px;
}

#upload_profile_pic {
	text-align: left;
    width: 400px;
    height: 500px;
}

#upload_profile_pic p {
	font-size: 16px;
    font-weight: bold;
	margin-bottom: 15px;
}

#profile_pic_upload {
	margin-top: 15px;	
}

#profile_upload_error {
	text-align: left;
	line-height: 20px;
	padding-left: 10px;
	border-left: 3px solid #C00;
	position: absolute;
	margin: -25px 0px 0px 120px;
}

#profile_upload_success {
	text-align: left;
	line-height: 20px;
	padding-left: 10px;
	border-left: 3px solid #0C0;
	position: absolute;
	margin: -25px 0px 0px 120px;
}

#profile_name {
	text-align: left;
	line-height: 20px;
	margin: 15px;
}

#announcement {
	display : block;
	width: 370px;
	height: 120px;
	margin: 20px 0px 0px 15px;
	background:url(../images/global/announcements.png) no-repeat;
}

#announcement div{
	margin-left: 95px;
	line-height: 20px;
	padding: 10px;
	text-align: center;
}

#profile_social_status {
	width: 80px;
	height: 540px;
	float: left;
	text-align: left;
}

#butterfly {
	width: 50px;
	height: 40px;
	background:url(../images/global/social_status.png) no-repeat;
	background-position: 0px 0px;
}

#warning {
	width: 50px;
	height: 40px;
	background:url(../images/global/social_status.png) no-repeat;
	background-position: 0px -40px;
}


.pagination_home {
	width: 70px;
	height: 280px;
	float: left;
	padding-top: 225px;
}

#updates {
	color: #4980B7;
    float: left;
    font-size: 16px;
    height: 500px;
    text-align: left;
    width: 500px;
	margin: 10px 0 0 100px;
}

#updates p {
	font-size: 16px;
    font-weight: bold;
	margin-bottom: 5px;
}

#updates a {
    float: left;
    font-size: 14px;
    height: 60px;
	padding-top: 10px;
    margin: 0px 40px 0px 10px;
    text-align: center;
    width: 120px;
	word-wrap: break-word;
}

#updates a:hover {
	text-decoration: none;
	color: #215086;
}

#updates li {
	float: left;
}

#updates div {
	height: 80px;
	border-bottom: 1px solid #99B8D7;
	padding-top: 10px;
}

#updates img {
    margin: 5px 5px 0 0;
    width: 60px;
}

#first_update {
	border-top: 1px solid #99B8D7;
	margin-top: 30px;
}

/* Settings Page */
#change_settings {
	height: 580px;
	margin: 50px 0px 0px 170px;
	text-align: left;
	line-height: 30px;
}

#settings_column1 {
	width: 500px;
	float: left;
}

#settings_column2 {
	margin-left: 600px;
}

li.settings_title {
	font-weight: bold;
}

li.settings_title span{
	font-size: 16px;
	color: #ccc;
	font-style: italic;
}

#settings_form li, #settings_form_c li {
	font-size: 18px;
	color: #215086;	
	line-height: 35px;
}

#settings_form label, #settings_form_c label {
	width: 200px;
	display: inline-block;
	margin-left: 20px;
}

#settings_form select, #settings_form_c select {
	width: 80px;
	font-size: 18px;
	color: #666;
}

select#gender {
	width: 165px;
}

#settings_column2 li{
	line-height: 20px;
}

#settings_error{
	text-align: left;
	line-height: 20px;
	border-left: 3px solid #C00;
	padding-left: 10px;
	margin-top: -80px;
}

#settings_success{
	text-align: left;
	line-height: 20px;
	border-left: 3px solid #0C0;
	padding-left: 10px;
	margin-top: -80px;
}

#save_settings{
	width: 200px;
	height: 30px;
	margin-top: 380px;
}

#deactivate {
	background: #ccc;
	font-size: 15px;
}

/* Recover Password Page */

#forgot_password {
	height: 350px;
	text-align: left;
	padding: 30px 0px 0px 360px;
	line-height: 30px;
}

li.forgot_title {
	font-weight: bold;
	margin: 20px;
}

#forgot_form li {
	font-size: 18px;
	color: #215086;	
	line-height: 35px;
}

#forgot_form label {
	width: 200px;
	display: inline-block;
	margin-left: 20px;
}

#save_password {
	width: 100px;
	height: 30px;
	float: left;
	margin: 10px 10px 0px 260px;
}

#forgot_form_error{
	text-align: left;
	line-height: 20px;
	border-left: 3px solid #C00;
	padding-left: 10px;
	margin: -10px 0px 0px 20px;
	position: relative;
	z-index: 1000;
}

#forgot_form_success{
	text-align: left;
	line-height: 20px;
	border-left: 3px solid #0C0;
	padding-left: 10px;
	margin: -10px 0px 0px 20px;
	position: relative;
	z-index: 1000;
}

/* Mosaic Page */
#mosaic {
	width: 1150px;
	height: 600px;
	margin: 0px auto;
}

.pagination_mosaic {
	width: 70px;
	height: 280px;
	float: left;
	padding-top: 200px;
}

#tiles {
	width: 435px;
	height: 500px;
	float: left;
	padding-top: 28px;
	text-align: left;
}

#tile_search_field {
	color: #666;
    font-size: 18px;
    width: 300px;
	margin: 0px 3px 0px 3px;
}

#tile_search_submit {
	width: 100px;
}

#tsearch_form {
	margin: 0px 0px 20px 0px;
}

#tiles_legend {
	margin: 0px 0px 10px 3px;
}

#tiles_legend a{
	margin-right: 10px;
	font-weight: bold;
	float: left;
}

#tiles_legend div{
	width: 120px;
	height: 20px;
	margin-right: 14px;
}

.legend_squares {
	width: 12px;
	height: 12px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

#blueSquare {
	background-color: #4980B7;
}

#redSquare {
	background-color: #C00;
}

#graySquare {
	background-color: #666;
}

div.selectedFilter{
	font-weight: bold;	
}

div.hoverFilter{
	font-weight: bold;
}

div#myTiles {
	color: #4980B7;
	text-decoration: none;
	float: left;
}

div#sponsoredTiles {
	color: #C00;
	text-decoration: none;
	float: left;
}

div#communityTiles {
	color: #666;
	text-decoration: none;
	float: left;
}

div#tile_bank_message {
	text-align: left;
	line-height: 20px;
	padding-left: 10px;
	border-left: 3px solid #C00;
	margin: -5px 0px 5px 0px;
}

#tiles_bank {
	height: 280px;
	margin-top: 40px;
	overflow: hidden;
}

#customized_tile {
	font-size: 18px;
	text-align: left;
	color: #215086;
}

#customized_tile span {
	font-size: 18px;
}

#customized_tile p {
	margin: 20px 0px 10px 0px;
}

#tile_pic_upload {
	width: 110px;
	margin-top: 10px;
}

#tile_upload_error {
	text-align: left;
	line-height: 20px;
	padding-left: 10px;
	border-left: 3px solid #C00;
	position: absolute;
	margin: -25px 0px 0px 120px;
}

#tile_upload_success {
	text-align: left;
	line-height: 20px;
	padding-left: 10px;
	border-left: 3px solid #0C0;
	position: absolute;
	margin: -25px 0px 0px 120px;
}

#tile_loading {
	width: 30px;
	vertical-align: bottom;
}

#tile_crop_form {
	margin-top: 10px;
}

#tile_crop {
	width: 575px;
	height: 520px;
	float: left;
	font-size: 18px;
	color: #215086;
	text-align: left;
}

#crop_instruction {
	margin: 2px 0px 10px 0px;
}

#original_photo{
	width: 400px;
	float: left;
	margin-right: 10px;
}

#preview_area {
	float: left;
	padding: 5px;
	border: 1px solid #ccc;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

#preview {
    width: 75px;
	height: 75px;
	margin-top: 5px;
    overflow: hidden;
}

#tag_tile {
	margin-top: 10px;
}

#crop_error {
	text-align: left;
	line-height: 20px;
	padding-left: 10px;
	border-left: 3px solid #C00;
	position: absolute;
	margin-top: 20px;
}

#mosaic_wall {
	width: 490px;
	float: left;
	font-size: 18px;
	color: #215086;
	margin-left: 30px;
}

#wall {
	width: 486px;
	height: 486px;
	border: solid 1px #ccc;
	margin-top: 10px;
	padding: 3px;
	background: url(../images/global/mosaic_wall_bg.png) no-repeat;
	overflow: hidden;
}

#tile_display li, #wall_display li {
	float:left; 
	width:75px; 
	height:75px;
	text-align: center;
	margin: 3px;
}

li.uploaded {
	border: 3px solid #4980B7;
	background-color: #4980B7;
}

li.sponsored {
	border: 3px solid #C00;
	background-color: #C00;
}

li.community {
	border: 3px solid #666;
	background-color: #666;
}

li.uploaded_wall {
	background-color: #4980B7;
}

li.sponsored_wall {
	background-color: #C00;
}

li.community_wall {
	background-color: #666;
}

li.tile_tag {
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer; 
	cursor: hand; 
}

img.transparent_tile {
	opacity:0.1;
	filter:alpha(opacity=10);
	position: relative;
}

div.transparent_tag {
	position: absolute;
	text-align: center;
	width: 75px;
	word-wrap: break-word;
}

#wall_trash{
	width: 50px;
	padding-top: 470px;
	margin-left: 5px;
	float: left;
}

#remove_tile { 
	width: 50px;
    height: 50px;
    overflow: hidden;
	background: url(../images/global/trash.png) no-repeat;
}

#remove_tile li { 
    height: 0; 
    width: 0; 
    overflow: hidden; 
}

/* Message Page */

#message_bg {
	background: url(../images/global/message_banner.jpg) no-repeat;			
	width: 1200px;
	height: 600px;
	text-align: left;
	margin-top: -254px;
	position: relative;
	z-index: 1;
}

#user_messages {
	position: relative;
	left: 200px;
	top: 350px;
	font-size: 18px;
	color: #666;
	width: 600px;
}

/* Search Page */

#search {
	height: 600px;
	margin:0px auto;
}

#search_slide {
	height: 150px;
}

#search_results {
	width: 1150px;
	height: 500px;
    margin: 10px 0px 0px 25px;
}

#user_search_field {
	width: 400px;
}

#search_error {
	width: 400px;
	height: 12px;
	margin: 10px 0px 0px 360px;
	font-weight: bold;
}

.result_column {
	width: 375px;
	height:80px;
	float: left;
}

.center_column {
	margin-right: 100px;
}

.result_entry {
	width: 375px;
	height: 100px;
	text-align: left;
	border-top: 1px solid #99B8D7;
}

.result_entry_first {
	width: 375px;
	height: 90px;
	text-align: left;
}

.list_users {
	width: 375px;
	height: 90px;
	margin-top: 10px;
}

.search_profile {
	width: 90px;
	height: 80px;
	float: left;
}

.search_interest {
	float: left;
	margin-top: 8px;
}

.user_info {
	height: 32px;
}

.action_buttons {
	height: 50px;
}

.pagination_search {
	width: 70px;
	height: 280px;
	float: left;
	padding-top: 220px;
	margin: 0px 40px;
}

.online_status a {
	margin: 5px 0px 0px 30px;
	display: block;
	font-weight: bold;
	width: 225px;
}

.search_interestTile {
	width: 40px;
	height: 40px;
}

/* Contact Page */

#contacts{
	height: 600px;
	margin:0px auto;
}

#contact_search_field {
    width: 400px;
}

#contact_results {
    padding-left: 210px;
}

#contact_mosaic {
    background-color: #fff;
    float: left;
    height: 500px;
    margin-top: 40px;
    overflow: hidden;
    width: 480px;
}

#contact_mosaic a:hover{
	text-decoration: none;
}

#contact_mosaic li {
	float: left;
	width: 96px; 
	height: 125px;
	cursor: pointer;
	cursor: hand;
}

.contact_profile {
	margin: 5px;
	width: 80px;
	height: 80px;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
}

.contact_online {
	background-color: #390;
	border: 3px solid #390;
}

.contact_offline {
	background-color: #666;
	border: 3px solid #666;
}

.contact_busy {
	background-color: #F00;
	border: 3px solid #F00;
}

.contact_away {
	background-color: #F90;
	border: 3px solid #F90;
}

.contact_name {
		margin: 5px;
		word-wrap: break-word;
}

.pagination_contacts {
	width: 70px;
	height: 280px;
	float: left;
	padding-top: 260px;
	margin: 0px 40px;
}

div.online {
	color: #390;
	text-decoration: none;
	float: left;
}

div.away {
	color: #F90;
	text-decoration: none;
	float: left;
}

div.busy {
	color: #F00;
	text-decoration: none;
	float: left;
}

div.offline {
	color: #666;
	text-decoration: none;
	float: left;
}

#contact_legend {
	margin-top: 50px;
	width: 200px;
	float: left;
	text-align: left;
}

#contact_legend div{
	width: 150px;
	margin-bottom: 5px;
}

#greenSquare {
	background-color: #390;
}

#orangeSquare {
	background-color: #F90;
}

/* Lounge Page */

#lounge {
	height: 500px;
	margin:0px auto;
}

#lounge_area {
	width: 980px;
	height: 500px;
	float: left;
	color: #215086;
}

#lounge_area p{
	margin-top: 20px;
	line-height: 20px;
	font-size: 14px;
}

#lounge_profiles {
	margin-top: 50px;
	height: 350px;
}

.lounge_match {
	width: 450px;
	height: 340px;
	float: left;
	margin: 0 19px;
}

.pagination_lounge {
	width: 70px;
	height: 215px;
	float: left;
	padding-top: 285px;
	margin: 0px 20px;
}

.lounge_tiles {
	display: block;
	height: 150px;
	margin: 190px 0px 0px 10px;
	width: 440px;
}

.lounge_tiles li {
	float: left;
	margin: 0px 3px 1px 0px;
}

.lounge_interestTile {
	width: 70px;
	height: 70px;
}

.lounge_info {
	float: left;
	width: 450px;
	height: 190px;
}

.lounge_online {
	margin-top: 12px;
}

.lounge_photo {
	float: left;
	background-image: url(../images/global/contact_frame.png);
	background-repeat: repeat-x;
	width: 264px;
	height: 190px;
	padding-top: 22px;
}

.lounge_photo img{
	width: 220px;
}

.lounge_userInfo {
	height: 115px;
	margin: 15px 0 0 265px;
	text-align: left;
}

.lounge_userInfo span {
	margin-left: 10px;
}

.lounge_userInfo a:hover {
	text-decoration: none;
}

.lounge_icons {
	width: 30px;
	height: 100px;
}

div.lounge_transparent_tag {
    position: absolute;
    text-align: center;
	font-weight: bold;
	width: 70px;
    word-wrap: break-word;
}

/* Mail Page */
#mail {
	height: 600px;
	margin:0px auto;
}
